.btn-create{
    margin-right: 8px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.group-tamano{
    margin-top: -0.5rem;
}
.tamano-separator {
    margin-left: -5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.form-tamano {
    width: calc(100% + 5px) !important; 
    height: 2rem !important;
}
.form-cantidad{
    margin-top: 1rem;
}

.character-counter {
    text-align: right;
    color: #6c757d;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.createObra-img {
    width: 85%;
    margin-top: 5rem;
    border-radius: 20px;
}





