.p-inputtext {
    width: 15rem;
}

.p-inputtext:focus,
.p-inputtext:hover {
    border-color: #8D33FF !important;
}

.p-inputtext:focus {
    box-shadow: 0 0 0 0.2rem #d1acff !important;
}

.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.change-btn{
    color: white;
    background-color: #8D33FF !important;
    border-color: white !important;
    border-radius: 50px !important; 
    margin-left: auto;
    padding: 5px 23px !important; 
    max-width: 20rem;
    height: 2.7rem !important;
}