.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.image-container {
  max-width: 38rem;
  max-width: 38rem;
  width: auto;
  height: auto;
  padding: 20px; 
  border-radius: 1rem;
  background-color: #8D33FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #8D33FF; 
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: white;
  border-radius: 0.8rem;
}


.rating-container{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 1rem !important;
}

.p-rating .p-rating-icon {
  font-size: 1.8rem !important;
  color: #8D33FF;
}

.nombreObra{
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.p-tag{
  height: 25px;
  margin-top: 18px;
  align-content: end;
}

.p-stock{
  font-size: 0.8rem;
}

.p-dimensiones{
  font-size: 0.8rem;
}

.stokydimensiones{
  margin-bottom: 0.5rem;
}

.costoObra{
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.costoSubasta{
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}

.ofertar{
  margin-top: 2rem;
}

.ofertaMinima{
  margin-bottom: -0.5rem;
}

.comprar-btn{
  color: white;
  background-color: #8D33FF !important;
  border-color: white !important;
  border-radius: 50px !important;
  margin-top: 0.5rem;
  margin-left: auto;
  padding: 5px 23px !important;
  max-width: 10rem;
  height: 2.7rem !important;
}

.custom-inputnumber .p-inputnumber-button {
  background-color: #6c7a89; /* Color de fondo */
  color: #ffffff; /* Color del ícono */
  border-radius: 5px; /* Borde redondeado */
  border: none; /* Sin bordes */
  width: 100%; /* Ocupa todo el ancho */
  height: 40px; /* Altura fija */
}

.custom-inputnumber .p-inputnumber-button .pi {
  font-size: 1.2rem; /* Tamaño del ícono */
}

.custom-inputnumber .p-inputnumber-input {
  text-align: center; /* Alinear el número al centro */
  border: none; /* Sin bordes */
  font-size: 1.5rem; /* Tamaño del texto */
  width: 100%; /* Ancho completo */
  height: 40px; /* Altura fija */
}


.p-button-rounded {
  border-radius: 2rem !important;
}

.p-button-primary {
  background-color: #8D33FF !important;
  border-color: #8D33FF !important;
}

.description {
  max-height: 100px;
  overflow-y: auto;
}


.btn-increment{
  height: 38px;
  border-radius: 0px 5px 5px 0px !important;
  background-color: #8D33FF !important;
}

.btn-decrement{
  width: 50px;
  height: 38px;
  border-radius: 5px 0px 0px 5px !important;
  background-color: #8D33FF !important;
}

.input-cantidad{
  border-radius: 0 !important;
}

.input-cantidad[readonly] {
  background-color: white;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  border: 1px solid #ced4da;
}

.pi-plus{
  font-size: 0.8rem;
  color: white;
}

.pi-minus{
  font-size: 0.8rem;
  color: white;
}

.countdown-timer .timer {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem; /* Tamaño de fuente reducido */
  font-weight: bold;
  margin-top: 0.5rem;
}

.countdown-timer .timer span {
  margin: 0 3px; /* Reducir el margen entre los elementos */
}

.countdown-timer .timer span:nth-child(odd) {
  min-width: 40px; /* Reducir el ancho mínimo */
  text-align: center;
  background-color: #f0f0f0;
  padding: 5px; /* Reducir el padding */
  border-radius: 5px;
}

.countdown-timer .timer span:nth-child(even) {
  font-size: 0.8rem; /* Tamaño de fuente reducido para las unidades */
  margin-top: 10px; /* Ajustar el margen superior */
}


.ofertas{
  margin-top: 1rem;
}

.swal2-confirm {
  background-color: #8D33FF !important;
  color: white !important;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.custom-swal-cancel {
  background-color: #FF3333 !important;
  color: white !important;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  border-radius: 5px;
}

.custom-swal-cancel:hover {
  background-color: #CB2C2C !important;
}

/* Estilo para el botón de reportar en forma de círculo */
.report-button-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.2rem;
  border: none;
}

.report-button-circle:hover{
  background-color: #da9830 !important;
  color: black !important;
}

