.btn-agregarDireccion{
    background-color: #8D33FF !important;
    color: white;
}

.direcciones-title {
    white-space: nowrap;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.observacion-textarea {
    resize: none; /* Desactiva el redimensionamiento */
    height: 100px; /* Establece una altura fija */
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: none !important;
    box-shadow: none;
    border: 1px solid #ccc; /* Borde gris por defecto */
    border-radius: 5px; /* Border radius */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
  }
  
  .mapboxgl-ctrl-geocoder:hover {
    border-color: #8D33FF; /* Borde morado cuando el cursor está encima */
  }
  
  .mapboxgl-ctrl-geocoder--input {
    width: 100% !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px; /* Border radius para el input */
  }
  
  .mapboxgl-ctrl-geocoder--input:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem #d1acff !important; /* Box-shadow al hacer focus */
    border-color: #8D33FF !important; /* Cambia el borde al hacer focus */
    border-radius: 5px; /* Border radius junto con el box-shadow */
  }
  
  /* Esto eliminará el borde punteado en Firefox */
  .mapboxgl-ctrl-geocoder--input::-moz-focus-inner {
    border: 0;
  }
  
  /* Esto eliminará el borde punteado en otros navegadores */
  .mapboxgl-ctrl-geocoder--input:focus {
    outline: none;
  }
  
  .direccion-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-text {
    margin-bottom: 5px;
    color: #333;
  }
  
  .btn-editar {
    background-color: #8a2be2;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
  }
  
  .btn-editar:hover {
    background-color: #7a1db9;
  }

  .btn-eliminar {
    background-color: #FF3333;
    color: white;
    border: none;
    padding: 5px 15px;
    margin-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
  }

  .btn-eliminar:hover {
    background-color: #CB2C2C !important;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .direccion-container {
    width: 85%;
    border: 1.5px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .direcciones-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn-seleccionar {
    background-color: #8a2be2;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
  }
  
  .btn-seleccionar:hover {
    background-color: #7a1db9;
  }
  
  .btn-atras {
    background-color: #8D33FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 8rem; /* Posiciona el botón al lado izquierdo */
    align-self: flex-start; /* Alinea el botón a la izquierda del contenedor */
  }

  .link-agregar-direccion {
    color: #8D33FF !important;
  }
  
  .link-agregar-direccion:hover {
    color: #7a1db9 !important;
  }

  
  
  