.flex-container {
    display: flex;
    gap: 1rem; /* Espacio entre los divs */
}

.user-data {
    flex: 1; /* Permite que los divs ocupen el mismo espacio disponible */
}

.subir-obra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
    border: 2px dashed #8D33FF;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out; 
    max-width: 9rem; 
}

.text-subirObra{
    font-family: "Nunito", sans-serif;
    color: #8D33FF;
}

.subir-obra:hover{
    background-color: #f0e6f8;
}

i.cross-icon {
    font-size: 4rem;
    color: #8D33FF !important;
    transition: transform 0.3s ease-in-out;
}

.subir-obra:hover .cross-icon {
    transform: scale(1.2); 
}

/*estilos detalles obra*/

.galery-container .card {
    width: 9rem;
    border-radius: 8px; 
    transition: all 0.3s ease-in-out;
}

.galery-container .card img {
    border-radius: 8px 8px 0 0;
    height: 100px; 
    object-fit: cover; 
}

.galery-container .card-body {
    padding: 0.5rem; 
    text-align: center;
}

.galery-container .card-title {
    font-size: 1rem; 
    color: #8D33FF;
}

.galery-container .card-text {
    font-size: 0.8rem; 
    color: #333;
}

.galery-container .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}