/* Barra de progreso */
.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: -3rem;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f9fa;
    border: 2px solid #6f42c1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #6f42c1;
    z-index: 1;
}

.completed .circle {
    background-color: #6f42c1;
    color: white;
}

/* Nueva regla para que la línea esté en el centro de los círculos */
.line {
    width: 99%;
    margin-left: 0.57px;
    height: 2px;
    background-color: #6f42c1;
    position: absolute;
    top: 25px; /* Ajusta la altura de la línea al centro del círculo */
    left: 0;
    z-index: 0;
}

.step p {
    margin-top: 10px;
    font-weight: bold;
    color: #6f42c1;
}
